h1{
  color: darkslategray;
    }
h2{
   color:lightslategray;
}
  *{
 border: solid;
 }
 .header{
     background-color: rgb(179, 231, 214);
     display: flex;
     justify-content: space-between;
 }
 .grid{
     display: flex;
     justify-content:space-evenly;
 }
 .footer{
     display:flex;
     justify-content:end;
     
 }
            